.article__label {
    line-height: 1.5;
    &::after {
        @include clear;
    }
    > * {
        @media screen and (max-width: 1023px) {
            font-size: $fs16;
        }
        &:last-child {
            float: right;
        }
        &:first-child {
            float: left;
        }
        &.label {
            color: $primary;
        }
    }
}
