ul.article__share {
    @include list(0, 0, none);
    @media screen and (max-width: 1023px) {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1;
    }
    li {
        margin-top: 5px;
        color: $gray-300;
        @media screen and (min-width: 1024px) {
            margin-top: 10px;
        }
        &.h6 {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        a {
            display: inline-block;
            padding: $fs14;
            color: $white;
            @include border-radius(50px);
            @media screen and (min-width: 1024px) {
                padding: $fs12/2 $fs14;
                color: $black;
                border: 1px solid $gray-200;
            }
            i {
                display: block;
                font-size: $fs22;
                vertical-align: middle;
                @media screen and (min-width: 1024px) {
                    display: inline-block;
                    margin-right: 5px;
                    font-size: $fs16;
                }
            }
            span {
                display: none;
                font-size: $fs14;
                vertical-align: middle;
                @media screen and (min-width: 1024px) {
                    display: inline-block;
                }
            }
            &:hover {
                color: $primary-variant;
                border-color: $primary-variant;
            }
        }
        &.share--facebook {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        &.share--line a {
            @media screen and (max-width: 1023px) {
                background-color: $line;
            }
        }
        &.share--copy a {
            @media screen and (max-width: 1023px) {
                background-color: $primary;
            }
        }
    }
}
