a.btn, button.btn {
    padding: 0;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    background-color: transparent;
    &.btn--small {
        display: table;
        padding: 7px 14px;
        font-size: $fs14;
        line-height: 1;
        &.btn--wide {
            padding-left: 28px;
            padding-right: 28px;
        }
    }
    &.btn--standard {
        display: table;
        padding: 12px 20px 14px;
        font-size: $fs14;
        line-height: 1;
        &.btn--wide {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    &.btn--outlined {
        @include border-radius(30px);
        &.btn--black {
            color: $black;
            border-color: $black;
        }
        &.btn--white {
            color: $white;
            border-color: $white;
            &:hover {
                color: $primary-lighten;
                border-color: $primary-lighten;
            }
        }
        &.btn--primary {
            color: $primary;
            border-color: $primary;
        }
        &:hover {
            color: $primary-variant;
            border-color: $primary-variant;
        }
    }
    &.btn--contained {
        @include border-radius(30px);
        color: $white;
        &.btn--black {
            background-color: $black;
            border-color: $black;
        }
        &.btn--white {
            color: $primary;
            background-color: $white;
            border-color: $white;
            &:hover {
                background-color: $primary-lighten;
                border-color: $primary-lighten;
            }
        }
        &.btn--primary {
            background-color: $primary;
            border-color: $primary;
            &:hover {
                background-color: $primary-variant;
                border-color: $primary-variant;
            }
        }
        &:hover {
            color: $white;
        }
    }
    &.btn--text {
        border: 0;
        &.btn--black {
            color: $black;
            &:hover {
                color: $primary-variant;
            }
        }
        &.btn--primary {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &[disabled] {
        color: $gray-300 !important;
        background-color: $gray-200 !important;
        border-color: $gray-200 !important;
        cursor: not-allowed !important;
    }
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

a.text__link--white {
    color: $white;
    text-decoration: none;
}