footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    font-size: 0;
    background-color: $primary;
    > .container {
        > a {
            display: inline-block;
            font-size: $fs14;
            line-height: 1;
            border-left: 1px solid $white;
            &:first-child {
                border-left-width: 0;
            }
        }
        > span {
            display: block;
            > span {
                display: inline-block;
                font-size: $fs14;
                @media screen and (min-width: 768px) {
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                }
            }
            &:last-child {
                font-size: $fs14;
            }
        }
    }
}
