header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-200;
    background-color: $white;
    z-index: 4;
    @media screen and (min-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.opened {
        z-index: 2;
    }
    .container {
        position: relative;
        > * {
            position: absolute;
            top: 50%;
            @include translateY(-50%);
        }
    }
    a.logo {
        position: relative;
        display: table;
        width: 95px;
        margin-left: auto;
        margin-right: auto;
        @include translateY(0%);
        @media screen and (min-width: 768px) {
            width: 110px;
        }
        &::before {
            @include beforeafter('', block);
            width: 100%;
            height: 0;
            padding-top: 41.875%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    #btn-search, .icon-close {
        font-size: $fs22;
    }
    #btn-search {
        left: 67px;
        padding: 5px;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    #btn-hamburger {
        left: 20px;
        &.icon-close {
            span {
                display: none;
            }
        }
    }
    button {
        right: 166px;
        @media screen and (max-width: 767px) {
            display: none !important;
        }
    }
    .sns__group {
        right: 20px;
        li {
            @media screen and (max-width: 767px) {
                display: none;
            }
            &:last-child {
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }    
        }
    }
}
