header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-200;
    background-color: $white;
    z-index: 4;
    @media screen and (min-width: 768px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.opened {
        z-index: 2;
    }
    .container {
        position: relative;
        > * {
            position: absolute;
            top: 50%;
            @include translateY(-50%);
        }
    }
    a.logo {
        position: relative;
        display: table;
        width: 95px;
        margin-left: auto;
        margin-right: auto;
        @include translateY(0%);
        @media screen and (min-width: 768px) {
            width: 110px;
        }
        &::before {
            @include beforeafter('', block);
            width: 100%;
            height: 0;
            padding-top: 41.875%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    #btn-search, .icon-close {
        font-size: $fs22;
    }
    #btn-search {
        left: 67px;
        padding: 5px;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    #btn-hamburger {
        left: 20px;
        &.icon-close {
            span {
                display: none;
            }
        }
    }
    button {
        right: 166px;
        @media screen and (max-width: 767px) {
            display: none !important;
        }
    }
    .sns__group {
        right: 20px;
        li {
            @media screen and (max-width: 767px) {
                display: none;
            }
            &.member {
                position: relative;
                @media screen and (max-width: 767px) {
                    display: inline-block;
                }
            }
            .slide {
                display: none;
                position: absolute;
                top: calc(100% + 10px);
                right: 0;
                padding: 5px 0;
                line-height: 1.5;
                background-color: $white;
                border: 1px solid $gray-200;
                ul {
                    width: max-content;
                    min-width: calc(#{$fs16}*2 + 42px);
                    max-width: 140px;
                    li {
                        display: block;
                        margin: 0;
                        > a, > span {
                            display: block;
                            padding: 5px 20px;
                            color: $black;
                            font-size: 1rem;
                        }
                        > a:hover {
                            color: $primary;
                        }
                        > span {
                            padding: 5px 20px;
                            font-weight: normal;
                        }
                        &.username {
                            margin-bottom: 5px;
                            padding-bottom: 5px;
                            border-bottom: 1px solid $gray-200;
                            > span {
                                line-height: 1.25;
                            }
                        }
                    }
                }
            }
        }
    }
}
