.jumbotron {
	position: relative;
	overflow: hidden;
	> img {
		position: absolute;
		left: 0;
		width: 100%;
		@media screen and (min-width: 768px) {
			top: 50%;
			@include translateY(-50%);
		}
		@media screen and (max-width: 767px) {
			top: 0;
			height: 100%;
			object-fit: cover;
		}
	}
	> .container {
		position: relative;
		padding-top: 100px;
		padding-bottom: 100px;
		color: $white;
		z-index: 1;
	}
	h1 {
		font-weight: 500;
	}
	h4 {
		font-weight: normal;
	}
}
