nav#menu {
    display: none;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 0;
    background-color: $primary;
    z-index: 4;
    @media screen and (min-width: 768px) {
        position: absolute;
    }
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 70px;
        overflow: hidden scroll;
    }
    .icon-close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $white;
        font-size: $fs20;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .search {
        @media screen and (min-width: 768px) {
            display: none;
        }
        form {
            border-bottom: 1px solid $white;
        }
    }
    .menu {
        ul {
            vertical-align: text-top;
            @include list(0, 0, none);
            line-height: 1.5;
            @media screen and (min-width: 768px) {
                display: inline-block;
                width: 20%;
            }
            @media screen and (max-width: 767px) {
                + ul {
                    margin-top: 20px;
                }
            }
            .h4 {
                display: block;
                color: $white;
                font-weight: 600;
            }
            li {
                width: 33.3333330%;
                @media screen and (min-width: 500px) {
                    width: 25%;
                }
                @media screen and (min-width: 650px) {
                    width: 20%;
                }
                @media screen and (min-width: 768px) {
                    width: 100%;
                }
                @media screen and (max-width: 767px) {
                    display: inline-block;
                }
                a {
                    display: block;
                    padding: $fs13;
                    color: $white;
                    font-size: $fs16;
                    text-align: center;
                    &:hover {
                        background-color: $primary-lighten;
                    }
                    @media screen and (min-width: 768px) {
                        padding: $fs18;
                    }
                }
            }
        }
    }
    .sns {
        @media screen and (min-width: 768px) {
            display: none;
        }
        ul {
            border-top: 1px solid $white;
            > li {
                > a {
                    color: $white;
                    -webkit-background-clip: initial;
                    -webkit-text-fill-color: initial;
                    background: none;
                }
            }
        }
    }
}

.search__block {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $primary;
    z-index: 4;
    .container {
        > * {
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }
        h5 {
            color: $white;
        }
    }
}
