.pagination {
    @include list(0, 0, none);
    font-size: 0;
    li {
        display: inline-block;
        color: $primary;
        font-size: $fs16;
        a {
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            color: $primary;
            background-color: $white;
            @include border-radius(50%);
            .icon {
                font-size: $fs12;
            }
        }
        + li {
            margin-left: 10px;
        }
        &:hover, &.active {
            a {
                color: $white;
                background-color: $primary;
            }
        }
        &.disabled {
            a {
                color: $gray-200 !important;
                background-color: $white !important;
                cursor: not-allowed !important;
            }
        }
    }
}
