body.scroll--up {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    nav#menu, .search__block {
        position: fixed;
    }
    .search__block {
        @media screen and (max-width: 767px) {
            top: 77px;
        }
    }
}

ul.article__share {
    &.show {
        display: block;
        &.next--show {
            bottom: 110px;
        }
    }
}

.article__next {
    &.show {
        @include translateY(0%);
    }
}
