$space: 0, 5, 10, 15, 20, 30, 40, 50, 60, 100;
$align: left, center, right;

@for $i from 1 through length($space) {
    .m-#{nth($space,$i)} {
        margin: #{nth($space, $i)}px !important;
    }
    .my-#{nth($space,$i)} {
        margin-top: #{nth($space, $i)}px !important;
        margin-bottom: #{nth($space, $i)}px !important;
    }
    .mx-#{nth($space,$i)} {
        margin-left: #{nth($space, $i)}px !important;
        margin-right: #{nth($space, $i)}px !important;
    }
    .mt-#{nth($space,$i)} {
        margin-top: #{nth($space, $i)}px !important;
    }
    .mb-#{nth($space,$i)} {
        margin-bottom: #{nth($space, $i)}px !important;
    }
    .ml-#{nth($space,$i)} {
        margin-left: #{nth($space, $i)}px !important;
    }
    .mr-#{nth($space,$i)} {
        margin-right: #{nth($space, $i)}px !important;
    }
    .p-#{nth($space,$i)} {
        padding: #{nth($space, $i)}px !important;
    }
    .py-#{nth($space,$i)} {
        padding-top: #{nth($space, $i)}px !important;
        padding-bottom: #{nth($space, $i)}px !important;
    }
    .px-#{nth($space,$i)} {
        padding-left: #{nth($space, $i)}px !important;
        padding-right: #{nth($space, $i)}px !important;
    }
    .pt-#{nth($space,$i)} {
        padding-top: #{nth($space, $i)}px !important;
    }
    .pb-#{nth($space,$i)} {
        padding-bottom: #{nth($space, $i)}px !important;
    }
    .pl-#{nth($space,$i)} {
        padding-left: #{nth($space, $i)}px !important;
    }
    .pr-#{nth($space,$i)} {
        padding-right: #{nth($space, $i)}px !important;
    }
}
.ml-auto, .mx-auto, .m-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto, .m-auto {
    margin-right: auto !important;
}
.mt-auto, .my-auto, .m-auto {
    margin-top: auto !important;
}
.mb-auto, .my-auto, .m-auto {
    margin-bottom: auto !important;
}
@for $i from 1 through length($align) {
    .text-#{nth($align,$i)} {
        text-align: #{nth($align, $i)};
    }
}
@include breakpoint(414px) {
    .ml-xs-auto, .mx-xs-auto, .m-xs-auto {
        margin-left: auto !important;
    }
    .mr-xs-auto, .mx-xs-auto, .m-xs-auto {
        margin-right: auto !important;
    }
    .mt-xs-auto, .my-xs-auto, .m-xs-auto {
        margin-top: auto !important;
    }
    .mb-xs-auto, .my-xs-auto, .m-xs-auto {
        margin-bottom: auto !important;
    }
    @for $i from 1 through length($space) {
        .m-xs-#{nth($space,$i)} {
            margin: #{nth($space, $i)}px !important;
        }
        .my-xs-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .mx-xs-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
            margin-right: #{nth($space, $i)}px !important;
        }
        .mt-xs-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
        }
        .mb-xs-#{nth($space,$i)} {
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .ml-xs-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
        }
        .mr-xs-#{nth($space,$i)} {
            margin-right: #{nth($space, $i)}px !important;
        }
        .p-xs-#{nth($space,$i)} {
            padding: #{nth($space, $i)}px !important;
        }
        .py-xs-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .px-xs-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
            padding-right: #{nth($space, $i)}px !important;
        }
        .pt-xs-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
        }
        .pb-xs-#{nth($space,$i)} {
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .pl-xs-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
        }
        .pr-xs-#{nth($space,$i)} {
            padding-right: #{nth($space, $i)}px !important;
        }
    }
    @for $i from 1 through length($align) {
        .text-xs-#{nth($align,$i)} {
            text-align: #{nth($align, $i)};
        }
    }
}
@include breakpoint(768px) {
    .ml-sm-auto, .m-sm-auto {
        margin-left: auto !important;
    }
    .mr-sm-auto, .m-sm-auto {
        margin-right: auto !important;
    }
    .mt-sm-auto, .m-sm-auto {
        margin-top: auto !important;
    }
    .mb-sm-auto, .m-sm-auto {
        margin-bottom: auto !important;
    }
    @for $i from 1 through length($space) {
        .m-sm-#{nth($space,$i)} {
            margin: #{nth($space, $i)}px !important;
        }
        .my-sm-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .mx-sm-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
            margin-right: #{nth($space, $i)}px !important;
        }
        .mt-sm-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
        }
        .mb-sm-#{nth($space,$i)} {
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .ml-sm-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
        }
        .mr-sm-#{nth($space,$i)} {
            margin-right: #{nth($space, $i)}px !important;
        }
        .p-sm-#{nth($space,$i)} {
            padding: #{nth($space, $i)}px !important;
        }
        .py-sm-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .px-sm-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
            padding-right: #{nth($space, $i)}px !important;
        }
        .pt-sm-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
        }
        .pb-sm-#{nth($space,$i)} {
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .pl-sm-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
        }
        .pr-sm-#{nth($space,$i)} {
            padding-right: #{nth($space, $i)}px !important;
        }
    }
    @for $i from 1 through length($align) {
        .text-sm-#{nth($align,$i)} {
            text-align: #{nth($align, $i)};
        }
    }
}
@include breakpoint(1024px) {
    .ml-md-auto, .m-md-auto {
        margin-left: auto !important;
    }
    .mr-md-auto, .m-md-auto {
        margin-right: auto !important;
    }
    .mt-md-auto, .m-md-auto {
        margin-top: auto !important;
    }
    .mb-md-auto, .m-md-auto {
        margin-bottom: auto !important;
    }
    @for $i from 1 through length($space) {
        .m-md-#{nth($space,$i)} {
            margin: #{nth($space, $i)}px !important;
        }
        .my-md-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .mx-md-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
            margin-right: #{nth($space, $i)}px !important;
        }
        .mt-md-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
        }
        .mb-md-#{nth($space,$i)} {
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .ml-md-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
        }
        .mr-md-#{nth($space,$i)} {
            margin-right: #{nth($space, $i)}px !important;
        }
        .p-md-#{nth($space,$i)} {
            padding: #{nth($space, $i)}px !important;
        }
        .py-md-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .px-md-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
            padding-right: #{nth($space, $i)}px !important;
        }
        .pt-md-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
        }
        .pb-md-#{nth($space,$i)} {
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .pl-md-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
        }
        .pr-md-#{nth($space,$i)} {
            padding-right: #{nth($space, $i)}px !important;
        }
    }
    @for $i from 1 through length($align) {
        .text-md-#{nth($align,$i)} {
            text-align: #{nth($align, $i)};
        }
    }
}
@include breakpoint(1200px) {
    .ml-lg-auto, .mx-lg-auto, .m-lg-auto {
        margin-left: auto !important;
    }
    .mr-lg-auto, .mx-lg-auto, .m-lg-auto {
        margin-right: auto !important;
    }
    .mt-lg-auto, .my-lg-auto, .m-lg-auto {
        margin-top: auto !important;
    }
    .mb-lg-auto, .my-lg-auto, .m-lg-auto {
        margin-bottom: auto !important;
    }
    @for $i from 1 through length($space) {
        .m-lg-#{nth($space,$i)} {
            margin: #{nth($space, $i)}px !important;
        }
        .my-lg-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .mx-lg-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
            margin-right: #{nth($space, $i)}px !important;
        }
        .mt-lg-#{nth($space,$i)} {
            margin-top: #{nth($space, $i)}px !important;
        }
        .mb-lg-#{nth($space,$i)} {
            margin-bottom: #{nth($space, $i)}px !important;
        }
        .ml-lg-#{nth($space,$i)} {
            margin-left: #{nth($space, $i)}px !important;
        }
        .mr-lg-#{nth($space,$i)} {
            margin-right: #{nth($space, $i)}px !important;
        }
        .p-lg-#{nth($space,$i)} {
            padding: #{nth($space, $i)}px !important;
        }
        .py-lg-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .px-lg-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
            padding-right: #{nth($space, $i)}px !important;
        }
        .pt-lg-#{nth($space,$i)} {
            padding-top: #{nth($space, $i)}px !important;
        }
        .pb-lg-#{nth($space,$i)} {
            padding-bottom: #{nth($space, $i)}px !important;
        }
        .pl-lg-#{nth($space,$i)} {
            padding-left: #{nth($space, $i)}px !important;
        }
        .pr-lg-#{nth($space,$i)} {
            padding-right: #{nth($space, $i)}px !important;
        }
    }
    @for $i from 1 through length($align) {
        .text-lg-#{nth($align,$i)} {
            text-align: #{nth($align, $i)};
        }
    }
}
