$icomoon-font-family: "fc-icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-eye: "\e900";
$icon-link: "\e901";
$icon-queot: "\e902";
$icon-facebook: "\e903";
$icon-instagram: "\e904";
$icon-line: "\e905";
$icon-chevron-top-circle: "\e90e";
$icon-chevron-bottom-circle: "\e90d";
$icon-arrow-left: "\e906";
$icon-arrow-right: "\e907";
$icon-chevron-left: "\e908";
$icon-chevron-right: "\e909";
$icon-close: "\e90a";
$icon-search: "\e90b";
$icon-user-filled: "\e90c";

$fs32: 2rem;
$fs28: 1.75rem;
$fs26: 1.625rem;
$fs22: 1.375rem;
$fs20: 1.25rem;
$fs18: 1.125rem;
$fs16: 1rem;
$fs14: 0.875rem;
$fs13: 0.8125rem;
$fs12: 0.75rem;
