@import "_mixin";
@import "_variables";
@import "_color";

@import "article/_table";
@import "article/_legend";
@import "article/_label";
@import "article/_detail";
@import "article/_share";
@import "article/_next";

article {
    justify-content: center;
    font-size: $fs18;
    @media screen and (min-width: 1024px) {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 140px calc(100% - 380px) 240px;
        grid-template-columns: 140px calc(100% - 380px) 240px;
    }
    @media screen and (min-width: 1280px) {
        width: 980px;
        margin-left: auto;
        margin-right: auto;
        -ms-grid-columns: 140px 700px 140px;
        grid-template-columns: 140px 700px 140px;
    }
    .article__left {
        grid-column: 1;
        -ms-grid-column: 1;
        @media screen and (min-width: 1024px) {
            padding-right: 15px;
        }
        .article__share {
            @media screen and (min-width: 1024px) {
                display: inline-block;
                position: -webkit-sticky;
                position: sticky;
                top: calc(50% - 87px);
            }
        }
    }
    .article__right {
        grid-column: 3;
        -ms-grid-column: 3;
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
        }
        @media screen and (min-width: 1280px) {
            margin-right: -140px;
        }
    }
}
.article__main {
    grid-column: 2;
    -ms-grid-column: 2;
    @media screen and (min-width: 1280px) {
        width: 700px;
    }
    .container {
        width: 100%;
        @media screen and (max-width: 1023px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    img {
        width: 100%;
    }
}
.article__head {
    line-height: 1.5;
    img {
        width: 100%;
        @media screen and (max-width: 1023px) {
            margin-left: -30px;
            margin-right: -30px;
            width: calc(100% + 60px);
        }
    }
}
.article__body {
    line-height: 1.8;
    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 10px;
        font-size: $fs22;
        line-height: 1.5;
        border-left: 5px solid $primary;
    }
    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    blockquote {
        position: relative;
        max-width: 270px;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 1024px) {
            max-width: 430px;
        }
        &::before, &::after {
            position: absolute;
            @include beforeafter($icon-queot, block);
            color: $primary;
            font-family: $icomoon-font-family;
            font-size: $fs20;
            line-height: 1;
        }
        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            right: 0;
            bottom: 0;
            @include rotate(180deg);
        }
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    a {
        color: $primary;
        text-decoration: underline;
        &:hover {
            color: $primary-variant;
        }
    }
    ul, ol {
        padding-left: 3.125em;
        font-weight: 600;
    }
    .advertisement, img {
        width: 100%;
        @media screen and (max-width: 1023px) {
            margin-left: -30px;
            margin-right: -30px;
            width: calc(100% + 60px);
        }
    }
    @import "article/_more";
}
.article__foot {
    margin-top: 40px;
    @media screen and (min-width: 1024px) {
        margin-top: 60px;
    }
}
.article__preface {
    margin-bottom: 20px;
    font-weight: 600;
}

@import "article/_profile";
@import "article/_box";
@import "article/_author";
@import "article/_around";
@import "article/_recommend";
