@import "_mixin";
@import "_variables";
@import "_color";

.color__bar {
    display: inline-block;
    @include list(0, 0, none);
    vertical-align: text-top;
    li {
        span {
            display: inline-block;
            vertical-align: middle;
            &:last-child {
                width: 6em;
            }
        }
    }
}
