@import "_normalize";
@import "_mixin";
@import "_variables";
@import "_color";

@import "_general";
@import "_typography";
@import "_font";
@import "_iconography";

@import "_container";
@import "_space";
@import "_color-map";
@import "_textfield";
@import "_button";
@import "_embed";
@import "_accordion";
@import "_tooltip";
@import "_search";
@import "_message";
@import "_card";
@import "_jumbotron";

.section__title {
    text-align: center;
    &::after {
        @include beforeafter('', block);
        width: 110px;
        height: 5px;
        margin: 5px auto 30px;
        background-color: $primary;
        @include border-radius(5px);
    }
}
.search__title {
    font-size: $fs28;
    font-weight: 500;
    text-align: center;
    h1 {
        display: inline;
        font-size: inherit;
        font-weight: inherit;
    }
}

@import "_cookies";
@import "_header";
@import "_navigation";
@import "_footer";
@import "_ad";
@import "_breadcrumb";
@import "_pagination";
@import "_keyword";

hr {
	border: solid $gray-200;
    border-width: 1px 0 0;
}

@import "_scrollup";
@import "_android";
