$grid-breakpoints: (
	"": false,
	xs: 414px,
	sm: 768px,
	md: 1024px,
	lg: 1200px,
);

$property: "m", "p";
$sides: "", "t", "b", "l", "r", "x", "y";

$spacies: (
	"0": 0px,
	"5": 5px,
	"10": 10px,
	"15": 15px,
	"20": 20px,
	"30": 30px,
	"40": 40px,
	"50": 50px,
	"60": 60px,
	"80": 80px,
	"100": 100px,
	"auto": auto,
);
$aligns: left, center, right;

@mixin generate($pro, $side, $spacValue) {
	@if $side == "" {
		@if $pro == "m" {
			margin: $spacValue;
		}
		@if $pro == "p" {
			padding: $spacValue;
		}
	}
	@if $side == "t" {
		@if $pro == "m" {
			margin-top: $spacValue;
		}
		@if $pro == "p" {
			padding-top: $spacValue;
		}
	}
	@if $side == "b" {
		@if $pro == "m" {
			margin-bottom: $spacValue;
		}
		@if $pro == "p" {
			padding-bottom: $spacValue;
		}
	}
	@if $side == "l" {
		@if $pro == "m" {
			margin-left: $spacValue;
		}
		@if $pro == "p" {
			padding-left: $spacValue;
		}
	}
	@if $side == "r" {
		@if $pro == "m" {
			margin-right: $spacValue;
		}
		@if $pro == "p" {
			padding-right: $spacValue;
		}
	}
	@if $side == "x" {
		@if $pro == "m" {
			margin-left: $spacValue;
			margin-right: $spacValue;
		}
		@if $pro == "p" {
			padding-left: $spacValue;
			padding-right: $spacValue;
		}
	}
	@if $side == "y" {
		@if $pro == "m" {
			margin-top: $spacValue;
			margin-bottom: $spacValue;
		}
		@if $pro == "p" {
			padding-top: $spacValue;
			padding-bottom: $spacValue;
		}
	}
}

@each $key, $value in $grid-breakpoints {
	@if not $value {
		@each $pro in $property {
			@each $side in $sides {
				@each $spacKey, $spacValue in $spacies {
					.#{$pro}#{$side}-#{$spacKey} {
						@include generate($pro, $side, $spacValue !important);
					}
				}
			}
		}
		@each $align in $aligns {
			.text-#{$align} {
				text-align: #{$align};
			}
		}
	} @else {
		@media screen and (min-width: $value) {
			@each $pro in $property {
				@each $side in $sides {
					@each $spacKey, $spacValue in $spacies {
						.#{$pro}#{$side}-#{$key}-#{$spacKey} {
							@include generate($pro, $side, $spacValue !important);
						}
					}
				}
			}
			@each $align in $aligns {
				.text-#{$key}-#{$align} {
					text-align: #{$align};
				}
			}
		}
	}
}
